<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1 class="new-title">Create Your Own PokéMon</h1>
    <a href="/pokedex"><button class="show-goBackBtn">Go Back</button></a>
    <!-- Struggling to understnad why my form once created is not readable by my show page -->
    <form action="/pokedex" method="post">
        Name <input type="text" name="name" placeholder="What are you going to call your PokéMon" value="Kyle"> <br>
        Photo <input type="text" name="img" value="/static/pokeball.jpeg"> <br>
        PokéMon Id# <input type="text" name="id" placeholder="Choose a unique id#" value="154"> <br>
        Types <input type="text" name="type" placeholder="What type/types are your PokéMon?" value="Fire Water"> <br>
        <!-- pokemon.misc. -->
        Height <input type="number" name="height" placeholder="How tall is your PokéMon?" value="32"> <br>
        Weight <input type="number" name="weight" placeholder="How much does your PokéMon weight?" value="31"> <br>
        <!-- pokemon.stats. -->
        Hit Points <input type="text" name="hp" placeholder="How much health does your PokéMon have?" value="20"> <br>
        Attack Power <input type="text" name="attack" placeholder="It's over 9000!!" value="16"> <br>
        Defense <input type="text" name="defense" placeholder="Am I not turlty enough, for the turtle club?" value="15"> <br>
        Special Attack <input type="text" name="spattack" placeholder="Bonus damage!" value="14"> <br>
        Special Defense <input type="text" name="spdefense" placeholder="How much reisitance does your PokéMon have?" value="13"> <br>
        Speed <input type="text" name="speed" placeholder="Zoom Zoom" value="12"> <br>
        <input type="submit" value="Create">
    </form>
</body>
</html>