<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="show-right">
        <h1 class="show-title"><%= pokemon.name %></h1>
        <a href="/" class="show-goBackBtn"><button>Go Back</button></a>
    </div>
</body>
</html>